Repository retr0h/gilt, pull requests merged in 2024-02, with the labels that each got.

#143 fix: fetch current tags from remote on clone cache hit
  internal/git.go
  internal/git/git.go
  internal/git/git_public_test.go
  internal/mocks/git/git_mock.go
  internal/repository/repository.go
  internal/repository/repository_public_test.go
Labels: test/unit, kind/go, release

#144 chore: coverage++
  internal/repository/repository.go
  internal/repository/repository_public_test.go
Labels: test/unit, kind/go, release

#148 fix: correct go install latest
  cmd/init.go
  cmd/overlay.go
  cmd/root.go
  docs/docs/installation.md
  examples/go-client/go.mod
  examples/go-client/main.go
  go.mod
  internal/exec/exec_public_test.go
  internal/git/git.go
  internal/git/git_public_test.go
  internal/git/types.go
  internal/mocks/repository.go
  internal/mocks/repository/repository_mock.go
  internal/path/path_public_test.go
  internal/repositories/repositories.go
  internal/repositories/repositories_public_test.go
  internal/repositories/repositories_test.go
  internal/repositories/types.go
  internal/repository.go
  internal/repository/copy_public_test.go
  internal/repository/repository.go
  internal/repository/repository_public_test.go
  internal/repository/types.go
  main.go
  pkg/repositories/repositories.go
  pkg/repositories/types.go
Labels: test/unit, kind/go, release, kind/docs, next

#151 chore: prepare for v2.1.2 release
  docs/versioned_docs/version-2.1.2/configuration.md
  docs/versioned_docs/version-2.1.2/contributing.md
  docs/versioned_docs/version-2.1.2/installation.md
  docs/versioned_docs/version-2.1.2/intro.md
  docs/versioned_docs/version-2.1.2/testing.md
  docs/versioned_docs/version-2.1.2/usage.md
  docs/versioned_sidebars/version-2.1.2-sidebars.json
  docs/versions.json
Labels: release, kind/docs

#152 fix: update link to the Go Report Card
  README.md
Labels: release, next

#156 fix: try harder to fetch tags from remote when updating cache
  examples/go-client/go.mod
  examples/go-client/go.sum
  internal/git/git.go
  internal/git/git_public_test.go
Labels: test/unit, kind/go, release

#157 chore: coverage++
  examples/go-client/go.mod
  examples/go-client/go.sum
  internal/repositories/repositories.go
  internal/repositories/repositories_public_test.go
  internal/repositories/repositories_test.go
  internal/repository/copy.go
  internal/repository/copy_public_test.go
Labels: test/unit, kind/go, release

#158 refactor: replace afero with avfs
  examples/go-client/go.mod
  examples/go-client/go.sum
  go.mod
  go.sum
  internal/exec/exec.go
  internal/exec/exec_public_test.go
  internal/exec/types.go
  internal/git/git.go
  internal/git/git_public_test.go
  internal/git/types.go
  internal/repositories/repositories.go
  internal/repositories/repositories_public_test.go
  internal/repositories/repositories_test.go
  internal/repositories/types.go
  internal/repository/copy.go
  internal/repository/copy_public_test.go
  internal/repository/helper_test.go
  internal/repository/repository.go
  internal/repository/repository_public_test.go
  internal/repository/types.go
  pkg/repositories/repositories.go
  pkg/repositories/types.go
Labels: test/unit, kind/go, release
