Repository retr0h/gilt, pull requests merged in 2024-05, with the labels that each got.

#187 ci: attempt to ignore example app dependabot
  .github/dependabot.yml
Labels: github/action, kind/yaml, release, next

#188 ci: preserve dependabot branches
  .github/delete-merged-branch-config.yml
Labels: github/action, kind/yaml, release, next

#189 ci: correct bad gilt version in example go.mod
  examples/go-client/go.mod
  examples/go-client/go.sum
Labels: release, next

#191 chore: rework version library
  .goreleaser.yaml
  cmd/resources/art.txt
  cmd/root.go
  cmd/version.go
  go.mod
  go.sum
Labels: kind/yaml, kind/go, release

#192 chore: prepare for v2.2.1 release
  docs/versioned_docs/version-2.2.1/configuration.md
  docs/versioned_docs/version-2.2.1/contributing.md
  docs/versioned_docs/version-2.2.1/installation.md
  docs/versioned_docs/version-2.2.1/intro.md
  docs/versioned_docs/version-2.2.1/testing.md
  docs/versioned_docs/version-2.2.1/usage.md
  docs/versioned_sidebars/version-2.2.1-sidebars.json
  docs/versions.json
Labels: release, kind/docs

#195 ci: add python label config to labeler action
  .github/labeler.yml
Labels: github/action, kind/yaml, next

#196 ci: add next label config to labeler action
  .github/labeler.yml
Labels: github/action, kind/yaml, next

#194 fix: allow dist2wheel to handle missing field
  python/dist2wheel.py
Labels: next, kind/python

#198 chore: added stinkin' badges
  README.md
Labels: next

#200 docs: add activity badge
  README.md
Labels: next

#203 fix: wait for the lockfile on startup
  pkg/repositories/repositories.go
  test/integration/test_cli.bats
Labels: kind/go, next

#206 fix: quit claiming Linux is an unsupported dev environment
  Taskfile.yml
Labels: kind/yaml, next

#204 chore: update bats to bats-core@latest
  .gitignore
  Taskfile.yml
  go.mod
  go.sum
  test/integration/vendor/bats/bin/bats
  test/integration/vendor/bats/libexec/bats
  test/integration/vendor/bats/libexec/bats-exec-suite
  test/integration/vendor/bats/libexec/bats-exec-test
  test/integration/vendor/bats/libexec/bats-format-tap-stream
  test/integration/vendor/bats/libexec/bats-preprocess
  test/integration/vendor/bats/share/man/man1/bats.1
  test/integration/vendor/bats/share/man/man7/bats.7
Labels: kind/yaml, next

#207 feat: add `--no-commands` switch
  cmd/root.go
  docs/docs/contributing.md
  docs/docs/usage.md
  internal/repositories/repositories.go
  internal/repositories/repositories_public_test.go
  pkg/config/types.go
Labels: test/unit, kind/go, kind/docs, next
