Repository retr0h/gilt, pull requests merged in 2024-03, with the labels that each got.

#159 test: Do a proper test teardown
  internal/git/git_public_test.go
  internal/repositories/repositories_public_test.go
  internal/repositories/repositories_test.go
  internal/repository/repository_public_test.go
Labels: test/unit, kind/go, release

#164 chore: prepare for v2.2 release
  docs/versioned_docs/version-2.2/configuration.md
  docs/versioned_docs/version-2.2/contributing.md
  docs/versioned_docs/version-2.2/installation.md
  docs/versioned_docs/version-2.2/intro.md
  docs/versioned_docs/version-2.2/testing.md
  docs/versioned_docs/version-2.2/usage.md
  docs/versioned_sidebars/version-2.2-sidebars.json
  docs/versions.json
Labels: release, kind/docs

#166 chore: coverage++
  pkg/config/schema.go
  pkg/config/schema_test.go
Labels: test/unit, kind/go, release, next

#167 chore: coverage++
  internal/git/git.go
  internal/git/git_test.go
Labels: test/unit, kind/go, release

#168 chore: coverage++
  internal/path/path.go
  internal/path/path_public_test.go
  internal/repositories/repositories_test.go
Labels: test/unit, kind/go, release, next

#169 docs: updated docs example to use existing format
  docs/docs/configuration.md
Labels: release, kind/docs, next

#170 chore: coverage++
  internal/git/git_public_test.go
  internal/git/git_test.go
Labels: test/unit, kind/go, release

#174 fix: make `sources.dstFile` create parent dirs
  internal/repository/copy.go
  internal/repository/copy_public_test.go
Labels: test/unit, kind/go, release

#175 refactor: use the File methods for Stat, Chmod
  internal/mocks/vfs/failfs.go
  internal/repository/copy.go
  internal/repository/copy_public_test.go
  internal/repository/repository.go
Labels: test/unit, kind/go, release
