Repository retr0h/gilt, pull requests merged in 2024-01, with the labels that each got.

#104 feat: add init sub command to create Giltfile
  .gitignore
  cmd/init.go
  cmd/overlay.go
  cmd/root.go
  docs/docs/usage.md
  test/integration/test_cli.bats
Labels: kind/go, release, kind/docs

#108 ci: attempt to fix labeler failures
  .github/workflows/labeler.yml
Labels: github/action, kind/yaml, release

#111 refactor: Get config.Validate() under test
  pkg/config/schema_test.go
Labels: test/unit, kind/go, release

#115 fix: enable debug output via `debug: true` in the config file
  cmd/root.go
Labels: kind/go, release

#118 chore: prepare for v2.0.2 release
  docs/docusaurus.config.js
  docs/versioned_docs/version-2.0.2/configuration.md
  docs/versioned_docs/version-2.0.2/contributing.md
  docs/versioned_docs/version-2.0.2/installation.md
  docs/versioned_docs/version-2.0.2/intro.md
  docs/versioned_docs/version-2.0.2/testing.md
  docs/versioned_docs/version-2.0.2/usage.md
  docs/versioned_sidebars/version-2.0.2-sidebars.json
  docs/versions.json
Labels: release, kind/docs

#119 test: added debug config bats test
  test/Giltfile.yaml
  test/integration/test_cli.bats
Labels: kind/yaml, release, next

#121 chore: refactor initLogger()
  cmd/init.go
  cmd/overlay.go
  cmd/root.go
  test/integration/test_cli.bats
Labels: kind/go, release

#122 chore: additional initLogger cleanup
  cmd/root.go
Labels: kind/go, release, next

#126 docs: corrected version on docs announcement bar
  docs/docusaurus.config.js
Labels: release, kind/docs, next

#128 feat: add a `build:wheel` task to Taskfile.yml
  .goreleaser.yaml
  Taskfile.yml
  python/dist2wheel.py
Labels: kind/yaml, release

#132 chore: add support for packaging Linux ARM64 wheels
  python/dist2wheel.py
Labels: release

#133 docs: reference gilt's image as external link
  README.md
Labels: release

#134 chore: add support for packaging macOS ARM64 wheels
  python/dist2wheel.py
Labels: release, next

#135 docs: Add pip install instructions
  docs/docs/installation.md
Labels: release, kind/docs, next

#138 chore: build Universal binaries for OSX
  .goreleaser.yaml
  python/dist2wheel.py
Labels: kind/yaml, release, next

#139 chore: prepare for v2.1.1 release
  docs/versioned_docs/version-2.1.1/configuration.md
  docs/versioned_docs/version-2.1.1/contributing.md
  docs/versioned_docs/version-2.1.1/installation.md
  docs/versioned_docs/version-2.1.1/intro.md
  docs/versioned_docs/version-2.1.1/testing.md
  docs/versioned_docs/version-2.1.1/usage.md
  docs/versioned_sidebars/version-2.1.1-sidebars.json
  docs/versions.json
Labels: release, kind/docs, v2.1.1

#140 docs: removed old versions
  docs/versioned_docs/version-1.0.2/configuration.md
  docs/versioned_docs/version-1.0.2/installation.md
  docs/versioned_docs/version-1.0.2/intro.md
  docs/versioned_docs/version-1.0.2/testing.md
  docs/versioned_docs/version-1.0.2/usage.md
  docs/versioned_docs/version-2.0.2/configuration.md
  docs/versioned_docs/version-2.0.2/contributing.md
  docs/versioned_docs/version-2.0.2/installation.md
  docs/versioned_docs/version-2.0.2/intro.md
  docs/versioned_docs/version-2.0.2/testing.md
  docs/versioned_docs/version-2.0.2/usage.md
  docs/versioned_docs/version-2.0/configuration.md
  docs/versioned_docs/version-2.0/contributing.md
  docs/versioned_docs/version-2.0/installation.md
  docs/versioned_docs/version-2.0/intro.md
  docs/versioned_docs/version-2.0/testing.md
  docs/versioned_docs/version-2.0/usage.md
  docs/versioned_docs/version-2.1/configuration.md
  docs/versioned_docs/version-2.1/contributing.md
  docs/versioned_docs/version-2.1/installation.md
  docs/versioned_docs/version-2.1/intro.md
  docs/versioned_docs/version-2.1/testing.md
  docs/versioned_docs/version-2.1/usage.md
  docs/versioned_sidebars/version-1.0.2-sidebars.json
  docs/versioned_sidebars/version-2.0-sidebars.json
  docs/versioned_sidebars/version-2.0.2-sidebars.json
  docs/versioned_sidebars/version-2.1-sidebars.json
  docs/versions.json
Labels: release, kind/docs, next
